.buttons {
    display: flex;
}

.buttons__button {
    padding: 10px 30px;
    background: #ffffff;
    border: none;
    outline: none;
    color: hsl(180, 100%, 25%);
    cursor: pointer;
    height: 100%;
    transition: 0.2s;
}

.buttons__button:hover {
    color: hsl(180, 100%, 30%);
}

.buttons__button:active {
    color: hsl(180, 100%, 35%);
    border: 2px solid;
}

.buttons__button:disabled {
    color: hsl(0, 0%, 80%);
    cursor: not-allowed;
}

@media (max-width: 767px) {
    .buttons {
        flex-direction: column;
    }
}